body {
  font-family: Lusitana, sans-serif;
  color: #333;
  font-size: 16px;
  line-height: 22px;
  font-weight: 400;
}

h1 {
  margin-top: 0px;
  margin-bottom: 19px;
  font-size: 38px;
  line-height: 44px;
  font-weight: 500;
}

h2 {
  margin-top: 0px;
  margin-bottom: 10px;
  font-family: 'ARS Marquette Pro', Arial, sans-serif;
  font-size: 30px;
  line-height: 36px;
  font-weight: 400;
  text-align: center;
}

h3 {
  margin-top: 0px;
  margin-bottom: 15px;
  font-family: 'ARS Marquette Pro', Arial, sans-serif;
  font-size: 22px;
  line-height: 30px;
  font-weight: 300;
}

h4 {
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
}

h5 {
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 14px;
  line-height: 20px;
  font-weight: 700;
}

h6 {
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 12px;
  line-height: 18px;
  font-weight: 700;
}

p {
  margin-top: 0px;
  margin-bottom: 5px;
}

a {
  color: #4b6375;
  text-decoration: none;
}

.button {
  display: inline-block;
  margin-right: 14px;
  padding: 13px 23px;
  border-radius: 3px;
  background-color: #000;
  box-shadow: 0 2px 1px 0 rgba(0, 0, 0, .12);
  -webkit-transition: background-color 300ms ease, box-shadow 300ms ease, color 300ms ease;
  transition: background-color 300ms ease, box-shadow 300ms ease, color 300ms ease;
  font-family: 'Roboto Slab';
  color: #fff;
  text-align: center;
  text-decoration: none;
}

.button:hover {
  background-color: #489fd9;
}

.button.hollow {
  background-color: transparent;
  box-shadow: 0 2px 1px 0 rgba(0, 0, 0, .12), inset 0 0 0 2px #000;
  color: #000;
  text-shadow: none;
}

.button.hollow:hover {
  background-color: #489fd9;
  box-shadow: 0 2px 1px 0 rgba(0, 0, 0, .12), inset 0 0 0 2px #489fd9;
  color: #fff;
  text-shadow: none;
}

.button.in-pricing {
  display: block;
  margin-top: 19px;
  margin-right: 0px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.logo-text {
  margin-top: 24px;
  font-family: 'Roboto Slab';
  color: #1c1c1c;
  font-size: 27px;
  font-weight: 500;
}

.logo-text.footer {
  margin-top: 0px;
  margin-bottom: 19px;
  background-image: url('../images/example-bg.png');
  background-position: 0px 0px;
  background-size: 125px;
  color: #e6eaed;
}

.navigation {
  position: fixed;
  left: 0px;
  top: 0px;
  right: 0px;
  background-color: hsla(0, 0%, 100%, .85);
  box-shadow: 0 1px 0 0 rgba(0, 0, 0, .13);
  -webkit-transform: translate(0px, 0px);
  -ms-transform: translate(0px, 0px);
  transform: translate(0px, 0px);
}

.nav-link {
  padding: 26px 17px;
  box-shadow: inset 0 3px 0 0 transparent;
  -webkit-transition: box-shadow 500ms ease, color 300ms ease;
  transition: box-shadow 500ms ease, color 300ms ease;
  font-family: 'ARS Marquette Pro', Arial, sans-serif;
  font-size: 14px;
  line-height: 22px;
  font-weight: 300;
}

.nav-link:hover {
  box-shadow: inset 0 3px 0 0 hsla(0, 0%, 71%, .5);
}

.nav-link.w--current {
  box-shadow: inset 0 3px 0 0 #4b6375;
  color: #799caf;
}

.nav-link.login {
  opacity: 0.65;
  text-decoration: none;
}

.section {
  padding-top: 70px;
  padding-bottom: 70px;
  background-color: #fff;
}

.section.blue {
  background-color: #e3f3fc;
}

.section.main {
  position: relative;
  top: 0px;
  display: block;
  height: 100vh;
  margin-top: 0px;
  background-image: url('../images/Ridge-Path-Blue-Optimized.jpg');
  background-position: 50% 50%;
  background-size: cover;
  color: #fff;
  font-size: 20px;
  line-height: 30px;
  text-shadow: 0 1px 0 rgba(0, 0, 0, .23);
}

.section.grey {
  background-color: #f0f0f0;
}

.section.image {
  background-image: url('../images/town.jpg');
  background-position: 50% 50%;
  background-size: cover;
  color: #fff;
}

.section.footer {
  padding-top: 42px;
  padding-bottom: 42px;
  background-color: #2b2c2e;
  color: #e4e8eb;
}

.section.footer.copyright {
  padding-top: 19px;
  padding-bottom: 19px;
  background-color: #1c1d1f;
  color: #939596;
  font-size: 14px;
}

.section.purple {
  padding-top: 78px;
  padding-bottom: 78px;
  background-color: #fff;
}

.section.clients {
  padding-top: 0px;
  padding-bottom: 0px;
  background-color: #a1bfd4;
}

.section.press {
  padding-top: 29px;
  padding-bottom: 38px;
  background-color: #3e5c50;
}

.section.section-alt {
  background-color: #cbdae2;
}

.section.vision {
  padding-top: 0px;
  padding-bottom: 0px;
  background-image: -webkit-linear-gradient(270deg, hsla(79, 12%, 55%, .24), hsla(79, 12%, 55%, .24)), url('../images/White-Paper-Optimized.jpg');
  background-image: linear-gradient(180deg, hsla(79, 12%, 55%, .24), hsla(79, 12%, 55%, .24)), url('../images/White-Paper-Optimized.jpg');
  background-position: 0px 0px, 0px 0px;
  background-size: auto, 600px;
}

.section.quote {
  padding-top: 54px;
  padding-bottom: 54px;
  background-color: #4b6375;
}

.section.culture {
  padding-top: 0px;
  padding-bottom: 0px;
  background-image: -webkit-linear-gradient(270deg, rgba(0, 0, 0, .24), rgba(0, 0, 0, .24)), url('../images/world-map.jpg');
  background-image: linear-gradient(180deg, rgba(0, 0, 0, .24), rgba(0, 0, 0, .24)), url('../images/world-map.jpg');
  background-position: 0px 0px, 50% 50%;
  background-size: auto, cover;
}

.section.asset-allocation {
  background-image: -webkit-linear-gradient(270deg, rgba(0, 0, 0, .5), rgba(0, 0, 0, .5)), url('../images/Earth-From-Space-optitmized.jpg');
  background-image: linear-gradient(180deg, rgba(0, 0, 0, .5), rgba(0, 0, 0, .5)), url('../images/Earth-From-Space-optitmized.jpg');
  background-position: 0px 0px, 50% 0px;
  background-size: auto, cover;
  background-repeat: repeat, repeat;
}

.section.estate-planning {
  padding-top: 0px;
  padding-bottom: 0px;
  background-color: #92977e;
}

.section.technology {
  padding-top: 0px;
  padding-bottom: 0px;
  background-image: -webkit-linear-gradient(270deg, rgba(51, 67, 75, .96), rgba(51, 67, 75, .96)), url('../images/Computer-code.jpg');
  background-image: linear-gradient(180deg, rgba(51, 67, 75, .96), rgba(51, 67, 75, .96)), url('../images/Computer-code.jpg');
  background-position: 0px 0px, 50% 50%;
  background-size: auto, cover;
  background-attachment: scroll, scroll;
}

.section.contact {
  position: relative;
  padding-top: 0px;
  padding-bottom: 0px;
  background-image: url('../images/Map-with-marker-darkened-optimized.jpg');
  background-position: 50% 50%;
  background-size: cover;
}

.slider {
  display: none;
  height: 360px;
  background-color: #303030;
}

.slide {
  padding-top: 64px;
  padding-bottom: 64px;
}

.slide._1 {
  background-color: #00ad6e;
}

.slide._2 {
  background-color: #00bdd6;
}

.slide._3 {
  background-color: #ccbe00;
}

.main-subtitle {
  margin-bottom: 26px;
  font-size: 20px;
  line-height: 26px;
  font-weight: 300;
}

.footer-slogan {
  margin-bottom: 11px;
  color: #939596;
}

.social-icon {
  margin-right: 11px;
  opacity: 0.41;
  -webkit-transition: opacity 300ms ease;
  transition: opacity 300ms ease;
}

.social-icon:hover {
  opacity: 1;
}

.footer-title {
  margin-top: 0px;
  font-family: 'Roboto Condensed';
  font-weight: 400;
  text-transform: uppercase;
}

.page-link {
  border-bottom: 1px solid transparent;
  -webkit-transition: color 300ms ease, border 300ms ease;
  transition: color 300ms ease, border 300ms ease;
  color: #489fd9;
  text-decoration: none;
}

.page-link:hover {
  border-bottom-color: #489fd9;
}

.page-link.in-footer {
  display: block;
  color: #939596;
}

.page-link.in-footer:hover {
  border-bottom-color: transparent;
  color: #d2d7d9;
}

.page-link.white {
  border-bottom-color: hsla(0, 0%, 100%, .49);
  color: #fff;
}

.page-link.white:hover {
  border-bottom-color: #fff;
}

.newsletter-field {
  width: 60%;
  height: 40px;
  float: left;
  border: 1px solid transparent;
  border-top-left-radius: 2px;
  border-bottom-left-radius: 2px;
  background-color: #e8e8e8;
}

.newsletter-field:focus {
  border-width: 1px;
  border-color: #09f;
  box-shadow: 0 0 6px 0 #489fd9;
}

.newsletter-button {
  width: 40%;
  height: 40px;
  padding-top: 9px;
  padding-bottom: 9px;
  float: left;
  border-top-right-radius: 2px;
  border-bottom-right-radius: 2px;
  background-color: #5f6166;
  -webkit-transition: all 500ms ease;
  transition: all 500ms ease;
  color: #d5d8db;
}

.newsletter-button:hover {
  background-color: #489fd9;
  color: #fff;
}

.newsletter-form {
  width: 70%;
}

.brand-link {
  text-decoration: none;
}

.success-message {
  background-color: #5f6166;
}

.main-heading {
  margin-top: 0px;
  margin-bottom: 20px;
  color: #fff;
  font-size: 38px;
  line-height: 44px;
}

.section-subtitle {
  margin-bottom: 68px;
  font-family: Lusitana, sans-serif;
  font-size: 18px;
  line-height: 26px;
  font-weight: 300;
  text-align: left;
}

.bold-text {
  font-weight: 400;
}

.plan-wrapper {
  min-height: 300px;
  padding: 17px;
  border-radius: 3px;
  background-color: #fff;
  color: #2b2b2b;
}

.price-point {
  margin-bottom: 8px;
  font-size: 14px;
}

.price-accent {
  color: #489fd9;
  font-size: 20px;
  letter-spacing: 0px;
}

.addl-feature {
  margin-bottom: 14px;
  font-size: 14px;
  line-height: 18px;
}

.addl-feature.inactive {
  color: #c7c5c5;
  text-decoration: line-through;
}

.divider {
  width: 50%;
  height: 1px;
  margin-top: 13px;
  margin-bottom: 12px;
  background-color: #dbdbdb;
}

.additional-contact {
  margin-top: 21px;
  text-align: center;
}

.feature {
  text-align: left;
}

.feature.centered {
  text-align: center;
}

.feature-row {
  margin-bottom: 70px;
  opacity: 1;
}

.testimonial-slider {
  height: auto;
  margin-top: 45px;
  background-color: transparent;
}

.testimony-slide {
  padding-top: 0px;
  padding-right: 10%;
  padding-left: 10%;
  text-align: center;
}

.testimony-text {
  margin-bottom: 21px;
  font-family: 'Roboto Slab';
  font-size: 25px;
  line-height: 31px;
  font-weight: 300;
}

.testimony-text.vision-text {
  margin-top: 56px;
  text-align: center;
}

.slide-nav {
  display: none;
  font-size: 10px;
}

.person {
  width: 70px;
  margin-bottom: 13px;
  border-radius: 100%;
}

.name {
  font-weight: 500;
}

.slider-arrow {
  width: 50px;
  -webkit-transition: color 300ms ease;
  transition: color 300ms ease;
  color: #bdbdbd;
  font-size: 32px;
}

.slider-arrow:hover {
  color: #000;
}

.feature-icon {
  margin-bottom: 12px;
}

.main-feature-group {
  margin-top: 30px;
}

.center-contents {
  text-align: center;
}

.small-features-row {
  margin-top: 71px;
}

.client-logo {
  width: 16.6%;
}

.press-logo {
  width: 16%;
  margin-right: 2%;
  margin-left: 2%;
  opacity: 0.94;
}

.small-text {
  color: hsla(0, 0%, 100%, .31);
  font-size: 16px;
  font-weight: 300;
  text-align: center;
}

.small-footer-logo {
  position: relative;
  right: 4px;
  bottom: 5px;
  display: block;
  margin-right: auto;
  margin-left: auto;
  float: none;
  clear: none;
}

.team-profile-pic {
  display: block;
  max-width: 260px;
  margin-right: auto;
  margin-bottom: 28px;
  margin-left: auto;
  border-style: solid;
  border-width: 1px;
  border-color: rgba(0, 0, 0, .23);
  border-radius: 13px;
}

.team-row {
  padding-top: 56px;
}

.team-profile-name {
  display: block;
  margin-bottom: 0px;
  font-family: Lusitana, sans-serif;
  font-size: 26px;
  line-height: 39px;
  font-weight: 400;
  text-align: center;
  text-transform: none;
}

.team-profile-title {
  font-family: 'ARS Marquette Pro', Arial, sans-serif;
  font-size: 18px;
  line-height: 26px;
  font-weight: 300;
  text-align: center;
}

.team-profile-bio {
  margin-top: 21px;
  border: 1px none #000;
  font-family: 'ARS Marquette Pro', Arial, sans-serif;
  font-size: 18px;
  line-height: 26px;
  font-weight: 300;
  text-align: justify;
}

.services-image {
  border-radius: 42px;
}

.services-image.services-image-plain {
  border-radius: 0px;
}

.contact-detail {
  margin-bottom: 14px;
}

.contact-detail-title {
  display: block;
  text-align: right;
}

.services-paragraph {
  display: block;
  font-size: 18px;
  line-height: 26px;
  font-weight: 300;
}

.contact-map {
  position: static;
  display: block;
  font-family: 'ARS Marquette Pro', Arial, sans-serif;
  color: #4b6375;
  font-weight: 300;
}

.hero-tagline {
  display: block;
  text-align: right;
}

.logotype {
  position: relative;
  left: -5px;
}

.splash-header {
  position: absolute;
  top: 130px;
  right: 0px;
  display: inline-block;
  width: 780px;
  padding: 14px 45.5px 14px 28px;
  background-color: rgba(0, 0, 0, .6);
}

.splash-header-primary {
  line-height: 47.5px;
}

.splash-header-secondary {
  color: hsla(0, 0%, 100%, .75);
  font-weight: 300;
}

.services-headline {
  margin-bottom: 72px;
}

.centered {
  margin-bottom: 13px;
  font-size: 26px;
  line-height: 37.5px;
  text-align: center;
}

.centered.vision {
  margin-bottom: 50px;
}

.centered.small {
  margin-bottom: 20px;
  font-family: 'ARS Marquette Pro', Arial, sans-serif;
  font-size: 14px;
  line-height: 20px;
  font-weight: 300;
}

.container-vision {
  position: relative;
  top: 15vh;
}

.disclaimer {
  padding-top: 0px;
  font-family: 'ARS Marquette Pro', Arial, sans-serif;
  font-size: 14px;
  line-height: 20px;
  font-style: normal;
  font-weight: 300;
  text-align: justify;
}

.vision-header {
  margin-bottom: 26px;
  font-family: Lusitana, sans-serif;
  color: #4b6375;
  font-size: 26px;
  line-height: 39px;
  font-weight: 400;
  text-align: center;
}

.vision-header.large {
  font-size: 39px;
  line-height: 52px;
}

.vision-body {
  font-family: 'ARS Marquette Pro', Arial, sans-serif;
  font-size: 18px;
  line-height: 26px;
  font-weight: 300;
  text-align: center;
}

.vision-container {
  display: block;
  min-height: 100vh;
  padding-top: 23vh;
  padding-right: 104px;
  padding-left: 104px;
}

.vision-container.global-asset-allocation {
  padding-top: 19vh;
}

.vision-container.global-asset-allocation.smaller {
  min-height: 0vh;
  padding-top: 26px;
  padding-bottom: 26px;
}

.vision-container.technology {
  padding-top: 14vh;
}

.vision-container.technology.smaller {
  min-height: 0vh;
  padding-top: 26px;
  padding-bottom: 26px;
}

.vision-container.contact {
  padding-top: 78px;
  padding-bottom: 78px;
}

.serif-header {
  font-size: 26px;
  line-height: 39px;
  text-align: center;
}

.serif-header.white {
  color: hsla(0, 0%, 100%, .9);
  font-size: 22px;
  line-height: 32.5px;
}

.serif-header.white.large {
  margin-bottom: 25px;
  font-size: 39px;
  line-height: 52px;
}

.culture-header {
  margin-bottom: 25px;
  font-family: Lusitana, sans-serif;
  color: #fff;
  font-size: 26px;
  line-height: 39px;
  text-align: center;
}

.culture-header.large {
  font-size: 39px;
  line-height: 52px;
}

.culture-header.large.contact {
  position: absolute;
  top: 25px;
  width: 100%;
}

.culture-header.smaller {
  margin-bottom: 0px;
}

.culture-body {
  font-family: 'ARS Marquette Pro', Arial, sans-serif;
  color: hsla(0, 0%, 100%, .9);
  font-size: 18px;
  line-height: 26px;
  font-weight: 300;
  text-align: center;
}

.culture-body.asset-allocation {
  margin-bottom: 25px;
}

.culture-body.margin-top {
  margin-top: 26px;
}

.image-centered {
  display: block;
  max-width: 460px;
  margin-top: 26px;
  margin-right: auto;
  margin-left: auto;
}

.row-contact {
  margin-top: 50px;
}

.contact-title {
  margin-bottom: 13px;
  font-family: 'ARS Marquette Pro', Arial, sans-serif;
  color: #ddd;
  font-size: 18px;
  line-height: 26px;
  font-weight: 300;
  text-align: center;
}

.contact-element {
  margin-bottom: 6.5px;
  font-family: 'ARS Marquette Pro', Arial, sans-serif;
  color: #ddd;
  font-size: 18px;
  line-height: 26px;
  font-weight: 300;
  text-align: center;
}

.contact-map-left {
  margin-top: 19.5px;
  -webkit-backface-visibility: visible;
  backface-visibility: visible;
  -webkit-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transform-origin: 0% 50%;
  -ms-transform-origin: 0% 50%;
  transform-origin: 0% 50%;
}

.contact-map-right {
  margin-top: 19.5px;
}

.centered-button {
  display: block;
  width: 150px;
  margin-top: 39px;
  margin-right: auto;
  margin-left: auto;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  border: 2px solid #4b6375;
  border-radius: 6px;
  background-color: transparent;
  font-family: 'ARS Marquette Pro', Arial, sans-serif;
  color: #4b6375;
  font-weight: 300;
  text-align: center;
}

.centered-button:hover {
  background-color: #4b6375;
  color: #fff;
}

.centered-button.inverted {
  border-color: #fff;
  color: #fff;
}

.centered-button.inverted:hover {
  background-color: #fff;
  color: #4b6375;
}

.centered-button.inverted.w--current {
  border-color: #fff;
  color: #fff;
}

.centered-button.inverted.w--current:hover {
  background-color: #fff;
  color: #4b6375;
}

.biox {
  display: block;
  width: 312px;
  margin-right: auto;
  margin-left: auto;
  padding-top: 13px;
  padding-bottom: 13px;
  border-style: solid;
  border-width: 2px;
  border-color: hsla(0, 0%, 100%, .5);
  border-radius: 13px;
}

html.w-mod-js *[data-ix="fade-in-on-load"] {
  opacity: 0;
  -webkit-transform: translate(0px, 24px);
  -ms-transform: translate(0px, 24px);
  transform: translate(0px, 24px);
}

html.w-mod-js *[data-ix="fade-in-on-scroll"] {
  opacity: 0;
  -webkit-transform: translate(0px, 24px);
  -ms-transform: translate(0px, 24px);
  transform: translate(0px, 24px);
}

html.w-mod-js *[data-ix="move-in-from-left-on-scroll"] {
  opacity: 0;
  -webkit-transform: translate(-40px, 0px);
  -ms-transform: translate(-40px, 0px);
  transform: translate(-40px, 0px);
}

html.w-mod-js *[data-ix="move-in-from-right-on-scroll-2"] {
  opacity: 0;
  -webkit-transform: translate(40px, 0px);
  -ms-transform: translate(40px, 0px);
  transform: translate(40px, 0px);
}

html.w-mod-js *[data-ix="zoom-in-on-scroll"] {
  opacity: 0;
  -webkit-transform: scale(0.8, 0.8);
  -ms-transform: scale(0.8, 0.8);
  transform: scale(0.8, 0.8);
}

html.w-mod-js *[data-ix="zoom-in-on-scroll-delayed"] {
  opacity: 0;
  -webkit-transform: scale(0.8, 0.8);
  -ms-transform: scale(0.8, 0.8);
  transform: scale(0.8, 0.8);
}

@media (max-width: 991px) {
  .button.in-pricing {
    font-size: 14px;
    line-height: 18px;
  }
  .nav-link {
    padding: 18px 0px;
    color: #fff;
  }
  .nav-link:hover {
    box-shadow: inset 0 3px 0 0 transparent;
  }
  .nav-link.w--current {
    box-shadow: inset 0 1px 0 0 transparent;
  }
  .nav-link.menu {
    padding: 22px 17px;
    color: #000;
    font-size: 30px;
  }
  .nav-link.menu.w--open {
    background-color: #000;
    color: #fff;
  }
  .section.main {
    padding-top: 0px;
    padding-bottom: 0px;
  }
  .nav-menu {
    padding-top: 13px;
    padding-bottom: 13px;
    background-color: #000;
  }
  .main-feature-group {
    margin-top: 0px;
  }
  .main-image {
    margin-top: 49px;
  }
  .team-row {
    padding-top: 0px;
  }
  .team-profile-bio {
    font-size: 18px;
  }
  .profile-column {
    margin-bottom: 56px;
  }
  .vision-header.large {
    margin-bottom: 52px;
  }
  .vision-container {
    padding-right: 78px;
    padding-left: 78px;
  }
}

@media (max-width: 767px) {
  h3 {
    margin-bottom: 8px;
  }
  .logo-text {
    margin-top: 15px;
  }
  .nav-link.menu {
    padding-top: 22px;
    padding-bottom: 22px;
  }
  .section {
    padding-top: 43px;
    padding-bottom: 43px;
    text-align: center;
  }
  .section.main {
    margin-top: 0px;
    padding-top: 0px;
  }
  .nav-menu {
    padding-right: 12px;
    padding-left: 12px;
  }
  .footer-title {
    margin-top: 35px;
  }
  .newsletter-form {
    display: block;
    margin-right: auto;
    margin-left: auto;
  }
  .section-subtitle {
    margin-bottom: 44px;
  }
  .plan-wrapper {
    margin-right: 5%;
    margin-bottom: 34px;
    margin-left: 5%;
  }
  .divider {
    width: 100%;
  }
  .feature {
    margin-bottom: 32px;
    text-align: center;
  }
  .feature-icon {
    margin-bottom: 4px;
  }
  .main-feature-group {
    margin-top: 0px;
    margin-bottom: 34px;
  }
  .team-profile-bio {
    margin-bottom: 56px;
  }
  .profile-column {
    margin-bottom: 0px;
  }
  .services-image {
    margin-bottom: 28px;
  }
  .contact-map {
    margin-bottom: 28px;
  }
  .vision-container {
    padding-top: 10vh;
    padding-right: 52px;
    padding-left: 52px;
  }
  .contact-title {
    text-align: left;
  }
  .contact-element {
    text-align: left;
  }
  .contact-map-left {
    margin-bottom: 52px;
  }
}

@media (max-width: 479px) {
  .nav-link.menu {
    padding-top: 22px;
    padding-bottom: 22px;
  }
  .section.purple {
    margin-bottom: -26px;
    padding-top: 26px;
    padding-bottom: 0px;
  }
  .section.asset-allocation {
    padding-top: 0px;
    padding-bottom: 0px;
  }
  .client-logo {
    width: 33.33%;
  }
  .press-logo {
    width: 28%;
  }
  .team-row {
    padding-top: 0px;
  }
  .contact-map {
    margin-bottom: 28px;
  }
  .vision-container {
    padding: 26px;
  }
  .vision-container.global-asset-allocation {
    padding-top: 26px;
  }
  .vision-container.technology {
    padding-top: 26px;
  }
  .image-centered {
    max-width: 100%;
  }
  .contact-title {
    text-align: left;
  }
  .contact-element {
    text-align: left;
  }
}

@font-face {
  font-family: 'ARS Marquette Pro';
  src: url('../fonts/ARSMAQUETTEPRO-LIGHT.OTF') format('undefined'), url('../fonts/ARSMaquettePro-Light.eot') format('embedded-opentype'), url('../fonts/ARSMaquettePro-Light.woff') format('woff'), url('../fonts/ARSMaquettePro-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: 'ARS Marquette Pro';
  src: url('../fonts/ARSMAQUETTEPRO-MEDIUM.OTF') format('undefined'), url('../fonts/ARSMaquettePro-Medium.eot') format('embedded-opentype'), url('../fonts/ARSMaquettePro-Medium.woff') format('woff'), url('../fonts/ARSMaquettePro-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}